@page "{handler?}"
@model AlgorytmDobieraniaZasobowProdukcyjnych.Pages.AlgorithmModel
@{
    ViewData["Title"] = "Algorytm";
}

@section Scripts
{
    <script type="text/javascript">
        $('#alert').hide();
        $('#latheSelectContainer').hide();



        var selectedLathe = "";
        $(document).ready(function () {
            $("#latheName").change(function () {
                selectedLathe = $(this).children("option:selected").val();
                selectedLathe = selectedLathe.split(' ').join('_');
            });

            $(function () {
                // setTimeout() function will be fired after page is loaded
                // it will wait for 5 sec. and then will fire
                // $("#successMessage").hide() function
                setTimeout(function () {
                    $("#addInfo").hide()
                }, 3000);
            });
        });
        //pobieranie danych i operacje na stronie dla obliczen walka
        $('#walekButton').on('click', function () {
            var walekName = document.getElementById("walekName").value;
            var container = document.getElementById("latheSelectContainer");
            var containerparameter = document.getElementById("parameterTables");

            $('.hider').hide();
            $('#alert').show();
            $('#walekTables').load(`/algorithm/walek?walekname=${walekName}`, function (response, status, xhr) {
                if (status == "success") {
                    $('.hider').show();
                    $('#alert').hide();
                    $('#latheSelectContainer').show();
                    $('#parameterTables').hide();
                    $('#latheName').prop('selectedIndex', 0);
                }
            });
        });
        //pobieranie danych i operacje na stronie dla obliczen walka z parametrami
        $('#latheButton').on('click', function () {
            var latheName = document.getElementById("latheName").value;
            var walekName = document.getElementById("walekName").value;
            var names = [walekName, selectedLathe];
            console.log("Lathe: " + selectedLathe);

            $('.hider').hide();
            $('#alert').show();
            $('#parameterTables').load(`/algorithm/parameter?names=${names}`, function (response, status, xhr) {
                if (status == "success") {

                    $('#parameterTables').show();
                    $('.hider').show();
                    $('#alert').hide();
                }
                $('#parameterTables').show();
            });
        });
    </script>
}


<div class="container-fluid">
    @if (Model.Message != null)
    {
        <div id="addInfo" class="row justify-content-center">
            <div class="alert alert-info col-md-auto">@Model.Message</div>
        </div>
    }
    <h1>Algorytm dobierania zasobów produkcyjnych</h1>
    <div id="alert" class="alert alert-primary" role="alert" style="text-align:center">
        Ładowanie danych...
    </div>
    <div class="hider">
        <div class="row">
            <div id="walekSelectContainer" class="input-group mb-2 col-5">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="walekName">Wybierz wałek do obliczeń</label>
                </div>
                <select class="custom-select" id="walekName" name="name" asp-items="Model.NamesOptions">
                    <option selected>Wybierz wałek</option>
                </select>
                <div class="input-group-append">
                    <button id="walekButton" class="btn btn-outline-secondary">OK</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="latheSelectContainer" class="input-group mb-3 col-5">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="latheName">Wybierz obrabiarke</label>
                </div>
                <select id="latheName" class="custom-select" name="lathe" asp-items="Model.LathesOptions">
                    <option selected>Wybierz obrabiarke</option>
                </select>
                <div class="input-group-append">
                    <button id="latheButton" class="btn btn-outline-secondary">OK</button>
                </div>
            </div>
        </div>
        <div id="imageTables">

        </div>
        <div id="walekTables">

        </div>
        <div id="parameterTables">

        </div>
    </div>
</div>
