@page "{handler?}"
@model AlgorytmDobieraniaZasobowProdukcyjnych.Pages.AlgorithmModel
@{
    ViewData["Title"] = "Algorithm";
}

@section Scripts
{
    <script type="text/javascript">
        $('#alert').hide();
        $('#latheSelectContainer').hide();
        function addStopnieFields() {
            var number = document.getElementById("N").value;
            var container = document.getElementById("stopnie");

            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }

            for (i = 0; i < number; i++) {
                container.appendChild(document.createTextNode("Stopień " + (i + 1)));
                container.appendChild(document.createElement("br"));

                container.appendChild(document.createTextNode("Średnica stopnia: "));
                var input = document.createElement("input");
                input.type = "text";
                input.name = "stopienSr" + i;
                input.id = "stopienSr" + i;
                container.appendChild(input);

                container.appendChild(document.createTextNode("Długość stopnia: "));
                var input = document.createElement("input");
                input.type = "text";
                input.name = "stopienDl" + i;
                input.id = "stopienDl" + i;
                container.appendChild(input);

                container.appendChild(document.createTextNode("Tolerancja stopnia: "));
                var input = document.createElement("input");
                input.type = "text";
                input.name = "stopienT" + i;
                input.id = "stopienT" + i;
                container.appendChild(input);

                container.appendChild(document.createElement("br"));
            }
        }
        var selectedLathe = "";
        $(document).ready(function () {
            $("#latheName").change(function () {
                selectedLathe = $(this).children("option:selected").val();
                selectedLathe = selectedLathe.split(' ').join('_');
            });
        });
        //pobieranie danych i operacje na stronie dla obliczen walka
        $('#walekButton').on('click', function () {
            var walekName = document.getElementById("walekName").value;
            var container = document.getElementById("latheSelectContainer");
            var containerparameter = document.getElementById("parameterTables");

            $('.hider').hide();
            $('#alert').show();
            $('#walekTables').load(`/algorithm/walek?walekname=${walekName}`, function (response, status, xhr) {
                if (status == "success") {
                    $('.hider').show();
                    $('#alert').hide();
                    $('#latheSelectContainer').show();
                    $('#parameterTables').hide();
                    $('#latheName').prop('selectedIndex', 0);
                }
            });
        });
        //pobieranie danych i operacje na stronie dla obliczen walka z parametrami
        $('#latheButton').on('click', function () {
            var latheName = document.getElementById("latheName").value;
            var walekName = document.getElementById("walekName").value;
            var names = [walekName, selectedLathe];
            console.log("Lathe: " + selectedLathe);

            $('.hider').hide();
            $('#alert').show();
            $('#parameterTables').load(`/algorithm/parameter?names=${names}`, function (response, status, xhr) {
                if (status == "success") {

                    $('#parameterTables').show();
                    $('.hider').show();
                    $('#alert').hide();

                }
                $('#parameterTables').show();
            });
        });
    </script>
}

<div id="alert" class="alert alert-primary" role="alert" style="text-align:center">
    Ładowanie danych...
</div>
<div class="hider">
    <div class="row">
        <div id="walekSelectContainer" class="input-group mb-2 col-6">
            <div class="input-group-prepend">
                <label class="input-group-text" for="walekName">Wybierz wałek do obliczeń</label>
            </div>
            <select class="custom-select" id="walekName" name="name" asp-items="Model.NamesOptions">
                <option selected>Wybierz wałek</option>
            </select>
            <div class="input-group-append">
                <button id="walekButton" class="btn btn-outline-secondary">OK</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="latheSelectContainer" class="input-group mb-3 col-6">
            <div class="input-group-prepend">
                <label class="input-group-text" for="latheName">Wybierz obrabiarke</label>
            </div>
            <select id="latheName" class="custom-select" name="lathe" asp-items="Model.LathesOptions">
                <option selected>Wybierz obrabiarke</option>
            </select>
            <div class="input-group-append">
                <button id="latheButton" class="btn btn-outline-secondary">OK</button>
            </div>
        </div>
    </div>




    <div>
        @*<label>Wybierz wałek do obliczeń: </label>
            <select id="walekName" name="name" asp-items="Model.NamesOptions">
                <option value="">Wybierz wałek</option>
            </select>
            <button id="walekButton" class="btn btn-primary btn-sm">OK</button>*@

        <div id="latheSelectContainer" style="display: none;">
            <label>Wybierz obrabiarke: </label>
            <select id="latheName" name="lathe" asp-items="Model.LathesOptions">
                <option value="">Wybierz obrabiarke</option>
            </select>
            <button id="latheButton" class="btn btn-primary btn-sm">OK</button>
        </div>
    </div>
    <div id="imageTables">

    </div>
    <div id="walekTables">

    </div>
    <div id="parameterTables">

    </div>
</div>
@*<div>
        <form method="post" asp-page-handler="WalekSql">
            @Html.AntiForgeryToken()
            <label>Wybierz wałek do obliczeń z listy: </label>
            <select name="name" asp-items="Model.NamesOptions">
                <option value="">Wybierz wałek</option>
            </select>

            <label>Wybierz obrabiarke: </label>
            <select name="lathe" asp-items="Model.LathesOptions">
                <option value="">Wybierz obrabiarke</option>
            </select>

            <input type="submit" value="Zatwierdź" />
        </form>
    </div>*@

@*<h3>LUB</h3>

    <div>
        <form method="post">
            @Html.AntiForgeryToken()
            <label>Wybierz obrabiarke: </label>
            <select name="lathe" asp-items="Model.LathesOptions">
                <option value="">Wybierz obrabiarke</option>
            </select>
            <label>Wprowadź parametry geometryczne wałka:</label><br />
            <label for="srC">Średnica całkowita: </label>
            <input type="text" name="srC" value="" />

            <label for="dlC">Długość całkowita: </label>
            <input type="text" name="dlC" value="" />

            <label>Wybierz materiał wałka: </label>
            <select name="material" asp-items="Model.MaterialOptions">
                <option value="">Wybierz materiał</option>
            </select>

            <br />
            <label for="N">Wprowadź liczbę stopni wału: </label>
            <input type="text" id="N" name="N" value="" />
            <a href="#" id="filldetails" onclick="addStopnieFields()">Pokaż stopnie wału</a>
            <div id="stopnie">

            </div>

            <input type="submit" value="Zatwierdź" />
        </form>
    </div>*@





