@page
@model AlgorytmDobieraniaZasobowProdukcyjnych.Pages.DataTableModel
@{
    ViewData["Title"] = "DataTable";
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                processing: true,
            });
        });
    </script>
}


<h1>DataTable</h1>


<table style="font-size:0.9rem"
       id="dataTable" class="table table-sm table-bordered table-hover table-responsive"
       width="100%" cellspacing="0">
    <thead class="thead-light">
        <tr>
            @foreach (var info in Model.Infos)
            {
                <th scope="col">@info.Name</th>
            }
        </tr>
    </thead>
    @foreach (var lathe in Model.Lathes)
    {
        <tbody>
            <tr>
                @foreach (var info in Model.Infos)
                {
                    <td>@info.GetValue(lathe)</td>
                }
            </tr>
        </tbody>
    }
</table>

