@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}


<div class="col-4">
    <partial name="TreeView" />
</div>

<div class="col-8">
    <partial name="TableView" />
</div>


