@page
@model IndexModel
@{
    ViewData["Title"] = "Strona startowa";
}

<div class="container-fluid" style="max-width:1300px">
    <div class="row align-items-center">
        <div class="col-4">
            <img class="img-fluid" src="/images/Logo/PK_SYMETRYCZNE_RGB.png" alt="Logo Politechniki Krakowskiej" />
        </div>
        <div class="col-4">
            <h1 class="text-center">Praca dyplomowa</h1>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="/images/Logo/WM_SYMETRYCZNE_RGB.png" alt="Logo Wydziału Mechanicznego" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="d-flex justify-content-center p-2">
        <h2 class="text-center">
            Temat: Implementacja algorytmu doboru
            zasobów produkcyjnych dla potrzeb projektowania procesów technologicznych
        </h2>
    </div>
    <br />
    <br />
    <div class="d-flex justify-content-center p-2">
        <h4 class="text-center">Autor: Jakub Poterek</h4>
    </div>
    <br />
    <div class="d-flex justify-content-center p-2">
        <h5 class="text-center">Promotor: dr inż. Jacek Habel</h5>
    </div>
</div>





