@page
@model AlgorytmDobieraniaZasobowProdukcyjnych.Pages.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Tokarki</h1>

<table class="table table-bordered table-sm">
    <thead class="thead-light">
        <tr>
            @foreach (var info in Model.Infos)
            {
                <th scope="col">@info.Name</th>
            }
        </tr>
    </thead>
    @foreach (var lathe in Model.Lathes)
    {
        <tbody>
            <tr>
                @foreach (var info in Model.Infos)
                {
                    <td>@info.GetValue(lathe)</td>
                }
            </tr>
        </tbody>
    }
</table>



