@page
@model AlgorytmDobieraniaZasobowProdukcyjnych.Pages.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Wybierz narzedzia do wyswietlenia w tabeli</h1>


<div class="container">
    <div class="row">
        <div class="col-4">
            col-4
        </div>
        <div class="col-8">
            col-8
        </div>
    </div>
</div>


<ul>
    @foreach (var resource in Model.Resources)
    {
        <li>@resource.Nazwa</li>
    }
</ul>



