@page
@model AlgorytmDobieraniaZasobowProdukcyjnych.Pages.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Wybierz narzedzia do wyswietlenia w tabeli</h1>

<ul>
    @foreach (var resource in Model.Resources)
    {
        <li>@resource.Nazwa</li>
    }
</ul>    



