@page
@model AlgorytmDobieraniaZasobowProdukcyjnych.Pages.TabelaModel
@{
    ViewData["Title"] = "Tabela";
}

<table style="font-size:0.9rem" ; text-align="center"
       class="table table-bordered table-responsive">
    <thead>
        <tr>
            @foreach (var info in Model.Data.AtributeName)
            {
                <td>@info</td>
            }

        </tr>
    </thead>    
    <tbody>
        <tr>
            @foreach (var value in Model.Data.AtributeValue)
            {
                <td>@value</td>
            }
        </tr>
    </tbody>

</table>

<table style="font-size:0.9rem" ; text-align="center"
       class="table table-bordered">
    <thead>
        <tr>
            @foreach (var info in Model.Data.ListName)
            {
                <td>@info</td>
            }

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Data.ListValue[0].Length; i++)
        {
        <tr>
            @foreach (var list in Model.Data.ListValue)
            {
                    <td>@list[i]</td>
            }
        </tr>
        }
    </tbody>

</table>

