@page
@model AlgorytmDobieraniaZasobowProdukcyjnych.Pages.TreeViewModel
@{
    ViewData["Title"] = "TreeView";
}

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
$(document).ready(function () {
    $('#treeView').jstree({
        plugins: [ "changed" ],
        core: {
            "data": @Html.Raw(ViewData["json"]),
        }
    });
});

    $("#treeView").on("changed.jstree", function (e, data) {
        console.log("Clicked " + data.node.text);
        console.log("ID: " + data.node.id);
        console.log("type: " + typeof (data.node.id));
        $.ajax({
            url: "TreeView",
            contentType: "text/plain",
            dataType: "html",
            data: { node: data.node.id }
        }).done(function () {
            $("#lb").text("Symbol wybranego zasobu: " + data.node.id);
        });
    });
    </script>
}

<label id="lb" class="label">Symbol wybranego zasobu: </label>


<form method="post">
    <select name="picked" asp-for="Picked">
        @foreach (var resource in Model.Resources)
        {
            <option id="item" value="@resource.KeyId">@resource.Name</option>
        }
    </select>
    <input type="submit" id="submitbutton" value="Display"/>
</form>
<br />
<div id="treeView" class="col-4">

</div>

<div >

</div>










