@model AlgorytmDobieraniaZasobowProdukcyjnych.Data.ImagePath


@if (Model.Path == "" && Model.Path2D == "")
{
    <h3 class="alert-danger">Najpierw wybierz narzędzie z tabeli</h3>
}

else
{
    if (Model.Path != "")
    {
        <label>Rysunek</label>
        <br />
        <img class="img-fluid" src="@Model.Path" alt="Alternate Text" />
    }

    if (Model.Path2D != "")
    {
        <br />
        <br />
        <br />

        <label>Rysunek 2D</label>
        <br />
        <img class="img-fluid" src="@Model.Path2D" alt="Alternate Text" />
    }
}

