@model AlgorytmDobieraniaZasobowProdukcyjnych.Models.ImagePath

<label>Rysunek</label><br />
<img class="img-fluid" src="@Model.Path" alt="Alternate Text" />

<br /><br /><br />

<label>Rysunek 2D</label><br />
<img class="img-fluid" src="@Model.Path2D" alt="Alternate Text" />
